<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [ ]:
!pip install sqlalchemy==1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [3]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting ipython
  Downloading ipython-8.18.1-py3-none-any.whl (808 kB)
     ------------------------------------ 808.2/808.2 KB 464.4 kB/s eta 0:00:00
Collecting ipython-genutils
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Collecting sqlparse
  Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
     -------------------------------------- 44.4/44.4 KB 242.4 kB/s eta 0:00:00
Collecting prettytable
  Downloading prettytable-3.12.0-py3-none-any.whl (31 kB)
Collecting six
  Downloading six-1.17.0-py2.py3-none-any.whl (11 kB)
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.36-cp39-cp39-win_amd64.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 736.0 kB/s eta 0:00:00
Collecting greenlet!=0.4.17
  Downloading greenlet-3.1.1-cp39-cp39-win_amd64.whl (298 kB)
     ------------------------------------ 298.3/298.3 KB 800.2 kB/s eta 0:00:00
Collecting typing-extensions>=4.6.0
  Downloading typing_extensions-4.12.2-py3-none-any.whl (37 kB)
Collecting prompt-toolkit<3.1.0,>=3.0.41
  Downloading prompt_toolkit-3.0.48-py3-none-any.whl (386 kB)
     ------------------------------------ 386.6/386.6 KB 802.5 kB/s eta 0:00:00
Collecting pygments>=2.4.0
  Downloading pygments-2.19.1-py3-none-any.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 827.1 kB/s eta 0:00:00
Collecting jedi>=0.16
  Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
     ---------------------------------------- 1.6/1.6 MB 1.1 MB/s eta 0:00:00
Collecting colorama
  Downloading colorama-0.4.6-py2.py3-none-any.whl (25 kB)
Collecting exceptiongroup
  Downloading exceptiongroup-1.2.2-py3-none-any.whl (16 kB)
Collecting traitlets>=5
  Downloading traitlets-5.14.3-py3-none-any.whl (85 kB)
     ---------------------------------------- 85.4/85.4 KB 1.2 MB/s eta 0:00:00
Collecting matplotlib-inline
  Downloading matplotlib_inline-0.1.7-py3-none-any.whl (9.9 kB)
Collecting decorator
  Downloading decorator-5.1.1-py3-none-any.whl (9.1 kB)
Collecting stack-data
  Downloading stack_data-0.6.3-py3-none-any.whl (24 kB)
Collecting wcwidth
  Downloading wcwidth-0.2.13-py2.py3-none-any.whl (34 kB)
Collecting parso<0.9.0,>=0.8.4
  Downloading parso-0.8.4-py2.py3-none-any.whl (103 kB)
     ------------------------------------ 103.7/103.7 KB 993.7 kB/s eta 0:00:00
Collecting executing>=1.2.0
  Downloading executing-2.1.0-py2.py3-none-any.whl (25 kB)
Collecting asttokens>=2.1.0
  Downloading asttokens-3.0.0-py3-none-any.whl (26 kB)
Collecting pure-eval
  Downloading pure_eval-0.2.3-py3-none-any.whl (11 kB)
Installing collected packages: wcwidth, pure-eval, ipython-genutils, typing-extensions, traitlets, sqlparse, six, pygments, prompt-toolkit, prettytable, parso, greenlet, executing, exceptiongroup, decorator, colorama, asttokens, stack-data, sqlalchemy, matplotlib-inline, jedi, ipython, ipython-sql
Successfully installed asttokens-3.0.0 colorama-0.4.6 decorator-5.1.1 exceptiongroup-1.2.2 executing-2.1.0 greenlet-3.1.1 ipython-8.18.1 ipython-genutils-0.2.0 ipython-sql-0.5.0 jedi-0.19.2 matplotlib-inline-0.1.7 parso-0.8.4 prettytable-3.12.0 prompt-toolkit-3.0.48 pure-eval-0.2.3 pygments-2.19.1 six-1.17.0 sqlalchemy-2.0.36 sqlparse-0.5.3 stack-data-0.6.3 traitlets-5.14.3 typing-extensions-4.12.2 wcwidth-0.2.13

WARNING: You are using pip version 22.0.4; however, version 24.3.1 is available.
You should consider upgrading via the 'C:\Users\MI33345\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: ipython-sql in c:\users\mi33345\appdata\local\programs\python\python39\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\mi33345\appdata\local\programs\python\python39\lib\site-packages (3.12.0)
Requirement already satisfied: sqlparse in c:\users\mi33345\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: ipython in c:\users\mi33345\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (8.18.1)
Requirement already satisfied: ipython-genutils in c:\users\mi33345\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\mi33345\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\mi33345\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: wcwidth in c:\users\mi33345\appdata\local\programs\python\python39\lib\site-packages (from prettytable) (0.2.13)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mi33345\appdata\local\programs\python\python39\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mi33345\appdata\local\programs\python\python39\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: colorama in c:\users\mi33345\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: traitlets>=5 in c:\users\mi33345\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: jedi>=0.16 in c:\users\mi33345\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in c:\users\mi33345\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\mi33345\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: matplotlib-inline in c:\users\mi33345\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: stack-data in c:\users\mi33345\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: pygments>=2.4.0 in c:\users\mi33345\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: exceptiongroup in c:\users\mi33345\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (1.2.2)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\mi33345\appdata\local\programs\python\python39\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: pure-eval in c:\users\mi33345\appdata\local\programs\python\python39\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\mi33345\appdata\local\programs\python\python39\lib\site-packages (from stack-data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: executing>=1.2.0 in c:\users\mi33345\appdata\local\programs\python\python39\lib\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)

WARNING: You are using pip version 22.0.4; however, version 24.3.1 is available.
You should consider upgrading via the 'C:\Users\MI33345\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [1]:
%load_ext sql

In [2]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [ ]:
import pip

# Get the list of installed packages
installed_packages = pip.get_installed_distributions()

# Print the name and version of each package
for package in installed_packages:
    print(f"Package Name: {package.key}, Version: {package.version}")

"conda" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [ ]:
!pip install -q pandas

In [18]:
# Import the correct module
import pkg_resources
print(pkg_resources.get_distribution("ipython-sql").version)

0.3.9

In [ ]:
!conda uninstall ipython-sql

In [25]:
%reload_ext sql

In [26]:
from sqlalchemy import create_engine, MetaData

# Create an engine
engine = create_engine('sqlite:///my_data1.db')

# Now you can use the metadata object with the engine
%sql engine

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [3]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [4]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [5]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [6]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [7]:
launch_sites = df['Launch_Site'].unique()
print(launch_sites)

['CCAFS LC-40' 'VAFB SLC-4E' 'KSC LC-39A' 'CCAFS SLC-40']

In [7]:
%sql SELECT DISTINCT Launch_Site FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [8]:
query = "SELECT * FROM SPACEXTABLE WHERE Launch_Site LIKE 'CCA%' LIMIT 5"
result = %sql $query
result

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [27]:
query = "SELECT SUM(PAYLOAD_MASS__KG_) as Total_Payload FROM SPACEXTABLE WHERE Customer LIKE '%CRS%'"
result = %sql $query
total_payload = result[0]['Total_Payload']
print(total_payload)

 * sqlite:///my_data1.db
Done.
48213

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [28]:
query = "SELECT AVG(PAYLOAD_MASS__KG_) as Average_Payload FROM SPACEXTABLE WHERE Booster_Version = 'F9 v1.1'"
result = %sql $query
average_payload = result[0]['Average_Payload']
print(average_payload)

 * sqlite:///my_data1.db
Done.
2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [31]:
query = """SELECT MIN(Date) AS First_Successful_Landing_Date
FROM SPACEXTABLE
WHERE Landing_Outcome = 'Success (ground pad)'"""
result = %sql $query
average_payload = result[0]['First_Successful_Landing_Date']
print(average_payload)

 * sqlite:///my_data1.db
Done.
2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [32]:
query = """SELECT Booster_Version FROM SPACEXTABLE 
WHERE Landing_Outcome = 'Success (drone ship)' 
AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000"""
result = %sql $query
boosters = [row['Booster_Version'] for row in result]
print(boosters)

 * sqlite:///my_data1.db
Done.
['F9 FT B1022', 'F9 FT B1026', 'F9 FT  B1021.2', 'F9 FT  B1031.2']

### Task 7




##### List the total number of successful and failure mission outcomes

In [34]:
query = """SELECT Mission_Outcome, COUNT(*) as Total_Count 
FROM SPACEXTABLE 
GROUP BY Mission_Outcome"""
result = %sql $query
outcome_counts = {row['Mission_Outcome']: row['Total_Count'] for row in result}
print(outcome_counts)

 * sqlite:///my_data1.db
Done.
{'Failure (in flight)': 1, 'Success': 98, 'Success ': 1, 'Success (payload status unclear)': 1}

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [35]:
query = """SELECT Booster_Version FROM SPACEXTABLE 
WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLE)"""
result = %sql $query
booster_versions = [row['Booster_Version'] for row in result]
print(booster_versions)

 * sqlite:///my_data1.db
Done.
['F9 B5 B1048.4', 'F9 B5 B1049.4', 'F9 B5 B1051.3', 'F9 B5 B1056.4', 'F9 B5 B1048.5', 'F9 B5 B1051.4', 'F9 B5 B1049.5', 'F9 B5 B1060.2 ', 'F9 B5 B1058.3 ', 'F9 B5 B1051.6', 'F9 B5 B1060.3', 'F9 B5 B1049.7 ']

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [51]:
query = """
SELECT 
    strftime('%m', Date) AS Month,
    Landing_Outcome,
    Booster_Version,
    Launch_Site
FROM 
    SPACEXTABLE
WHERE 
    substr(Date, 0, 5) = '2015' AND
    Landing_Outcome LIKE 'Failure (drone ship)%'
"""
result = %sql $query

import calendar

result_with_month_name = []
for row in result:
    month_number = int(row['Month'])
    month_name = calendar.month_name[month_number]
    result_with_month_name.append((month_name, row['Landing_Outcome'], row['Booster_Version'], row['Launch_Site']))

result = result_with_month_name
result = pd.DataFrame(result, columns=['Month', 'Landing_Outcome', 'Booster_Version', 'Launch_Site'])
result = result.reset_index(drop=True)
result

 * sqlite:///my_data1.db
Done.

     Month       Landing_Outcome Booster_Version  Launch_Site
0  January  Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40
1    April  Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [52]:
query = """
SELECT Landing_Outcome, COUNT(*) as Count
FROM SPACEXTABLE
WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY Landing_Outcome
ORDER BY Count DESC
"""
result = %sql $query
result

 * sqlite:///my_data1.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

In [ ]:
query = "SELECT MIN(PAYLOAD_MASS__KG_) AS Minimum_Payload FROM SPACEXTABLE"
result = %sql $query
minimum_payload = result[0]['Minimum_Payload']
print(minimum_payload)

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>